/* Full Page */
* {
    font-family: "Roboto", Arial;
}

body {
    background-color: #1F2937;
}

h1 {
    font-size: 4rem;
}

/* Logo Text in top left */
.header-logo {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 710;
}

.navigation {
    display: flex;
}

#navigation-bar {
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
}

#hero-navigation {
    gap: 1rem;
}

/* Navbar links in top right corner */
.flex-container > #navigation-items {
    color:#F9FAF8;
    padding: 10px;     
}

/* First Section, Navigation bar and Hero */
.flex-container {
    display: flex;
}

.flex-container-hero {
    display: flex;
    /* flex-wrap allows picture to move to below line instead of being displayed as overflow */
    flex-wrap: wrap; 
    justify-content: space-evenly;
    padding: 4rem;
  }

  .flex-container-hero .one{
    display: flex;
    flex-direction: column;
  }
  
  .flex-container-hero .two {
    display: flex;
  }




/* Hero Text Header "this website is awesome" */
.item-hero {
    display: flex;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 600px;
    margin-bottom: 0;
    margin-top: 0;

}

.flex-container-hero .item-heroSubtext, .item-heroButton {
    margin-top: 0;
    color: #F9FAF8;
}

.item-heroSubtext {
    max-width: 500px;
}

.item-heroButton {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    min-width: 50px;
    max-width: 125px;
    padding: 5px 35px;
    max-height: 40vh;
}

.item-heroImage {
    max-width: max-content;
    padding: 1rem;
}

/* Second Section */

.Second{
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.test-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
 }
 
 /* this selector selects all divs inside of .flex-container */
 .test-container div {
   background: rgb(255, 255, 255);
   border: 5px solid rgb(35, 43, 206);
   flex: 1; 
   margin: 4rem;
   margin-bottom: 0;
   justify-content: space-evenly;
   border-radius: 1rem;
   min-height: 15vh;
   max-width: 10vw;
 }


 .test-container2 {
   display: flex;
   justify-content: center;
   gap: 1rem;
}

 .test-container2 div {
   flex: 1; 
   margin: 4rem;
   margin-top: 0;
   justify-content: space-evenly;
   border-radius: 1rem;
   max-width: 10vw;
 }

 .test-container2 div > p {
   text-align: center;
 }



.signUpButton, button {
    font-weight: 700;
}

/* Third Section - Quote */

.ThirdSection {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.test-container3 {
    display: flex;
    justify-content: center;
    gap: 1rem;
 }

.quoteBox {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    /* border: 10px solid red; */
}

#centerQuoteBox {
    flex: 1 1 0%;
    min-height: 40vh;
}

.quoteBox-Text {
    font-style: italic;
    font-weight: 300;
}


.quoteBoxName {
    font-size: 36px;
    flex: 1;
    align-self: flex-end;
}


/* Fourth Section - Call To Action */
.FourthSection {
    background-color: #fff;
    padding: 30px;
}

.CallToAction {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
    border: 2px solid white;
    /* border: 10px solid red; */
}


footer {
    background-color: #1F2937;
    text-align: center;
    color: #ffffff;
    padding: 2em;
}

.test-container4 {
    display: flex;
    background: #3882F6;
    color: #F9FAF8;
}

.flex-container-hero2 {
    display: flex;
    justify-content: center;
  }

.flex-container-hero2 .leftAction{
    display: flex;
    flex-direction: column;
    /* border: 10px solid red;  */
    max-height: 20vh;
    flex: 1 1 auto;
    /* padding: 100px; */
  }
  
  .flex-container-hero2 .rightAction {
    display: flex;
    /* border: 10px solid red; */
  }


  /* Button Color: call to action background color */
.CallToActionButton {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    border: 2px solid white;
    min-width: 50px;
    max-width: 125px;
    padding: 5px 35px;
    height: auto;
    width: auto;
}

/* .leftAction {
    display: flex;
    flex-direction: column;
}

.rightAction {
    border: 2px solid #F9FAF8;
    display: flex;
    align-self: center;
} */


/* .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    flex: 1 1 0%;
  } */

  

  



