/* Full Page */
* {
    font-family: "Roboto", Arial;
}

body {
    background-color: #1F2937;
    /* margin-left: 15%;
    margin-right: 15%; */
}

h1 {
    font-size: 4em;
}

/* Logo Text in top left */
.header-logo {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 710;
}

.navigation {
    display: flex;
}

#navigation-bar {
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
}

#hero-navigation {
    gap: 1rem;
}

/* Navbar links in top right corner */
.flex-container > #navigation-items {
    color:#F9FAF8;
    flex-direction: row;
    padding: 10px;
       
}

/* First Section, Navigation bar and Hero */
.flex-container {
    display: flex;
}

.flex-container-hero {
    display: flex;
    /* flex-wrap allows picture to move to below line instead of being displayed as overflow */
    flex-wrap: wrap; 
    justify-content: space-evenly;
    padding: 4rem;
  }
  
  /* this selector selects all divs inside of .flex-container */
  /* .flex-container-hero div {
    /* border: 4px solid brown; */
    /* flex: 1; 
}*/

  
  .flex-container-hero .one{
    display: flex;
    flex-direction: column;
  }
  
  .flex-container-hero .two {
    display: flex;
  }


/* Hero Text Header "this website is awesome" */
.item-hero {
    display: flex;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 600px;
    margin-bottom: 0;
    margin-top: 0;

}

.flex-container-hero .item-heroSubtext, .item-heroButton {
    margin-top: 0;
    color: #F9FAF8;
}

.item-heroSubtext {
    max-width: 500px;
}

.item-heroButton {
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
}

.item-heroImage {
    max-width: max-content;
    padding: 1rem;
}

/* Second Section */

.Second{
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.informationHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.box {
    border: 4px ridge #3030e6;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    width: 100px;
    height: 100px;      
}

#box-container {
    display: flex;
    justify-content: center;

}


/* This helps size the Random Information boxes in second section */

.flex-container > .boxCaption {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: space-evenly; */

}

/* Button Color: call to action background color */
button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    min-width: 50px;
    max-width: 125px;
    padding: 5px 35px;
    height: auto;
    width: auto;
}

.signUpButton, button {
    font-weight: 700;
}

/* Quote Section - Third */

.ThirdSection {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quoteBox {
    display: flex;
    font-size: 36px;
    font-style: italic;
    align-items: auto;
}

/* Fourth Section - Call To Action */
.FourthSection {
    background-color: #fff;
    padding: 30px;

}

.CallToAction {
    padding: 40px;
    background: #3882F6;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #F9FAF8;
    
}

.leftAction {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
}

.rightAction {
    border: 2px solid #F9FAF8;
    display: flex;
    align-self: center;
}

.actionHeader {
    font-size: 36px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #ffffff;
    padding: 2em;
}




.test-container {
     display: flex;
     justify-content: center;
     gap: 1rem;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .test-container div {
    background: rgb(255, 255, 255);
    border: 5px solid rgb(35, 43, 206);
    flex: 1; 
    margin: 4rem;
    margin-bottom: 0;
    justify-content: space-evenly;
    border-radius: 1rem;
    min-height: 25vh;
    max-width: 10vw;
  }

  .test-container div > p {
    text-align: center;
  }

  .test-container2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
 }

  .test-container2 div {
    flex: 1; 
    margin: 4rem;
    margin-top: 0;
    justify-content: space-evenly;
    border-radius: 1rem;
    min-height: 28vh;
    max-width: 10vw;
  }

  .test-container2 div > p {
    text-align: center;
  }