/* Full Page */
* {
    font-family: "Roboto", Arial;
}

body {
    background-color: #1F2937;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-size: 4em;
}

/* Logo Text in top left */
.header-logo {
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 710;
    margin-left: 100px;
}


#navigation-bar {
    flex: 1 1 0;
    justify-content: space-between;
}

#hero-navigation {
    margin-right: 175px;
}

/* Navbar links in top right corner */
.flex-container > #navigation-items {
    color:#F9FAF8;
    flex-direction: row;
    padding: 10px;
       
}

/* First Section, Navigation bar and Hero */
.flex-container {
    display: flex;
}

.flex-container-hero {
    display: flex;
    /* flex-wrap allows picture to move to below line instead of being displayed as overflow */
    flex-wrap: wrap; 
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container-hero div {
    /* border: 4px solid brown; */
    height: auto;
    flex: 1 1 0;
    margin: 100px;
  }
  
  .flex-container-hero .one{
    /* ensures that the left side stays a certain size */
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-right: 0;

  }
  
  .flex-container-hero .two {
    margin-left: 0;
    height: auto;
    display: flex;
  }


/* Hero Text Header "this website is awesome" */
.item-hero {
    display: flex;
    /* font-size: 3em; */
    color: #F9FAF8;
    font-weight: 900;
    max-width: 600px;
    margin-bottom: 0;

}

.flex-container-hero .item-heroSubtext, .item-heroButton {
    margin-top: 0;
    color: #F9FAF8;
}

.item-heroSubtext {
    max-width: 500px;
}

.item-heroButton {
    border-radius: 5px;
    padding: 5px;
    min-width: 100px;
}

/* Second Section */

.Second{
    background-color: #F9FAF8;
}

.informationHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.box {
    border: 4px ridge #3030e6;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;
    width: 100px;
    height: 100px;      
}

#box-container {
    justify-content: center;
}


/* This helps size the Random Information boxes in second section */

.flex-container > .boxCaption {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;

}

/* Button Color: call to action background color */
button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    min-width: 50px;
    max-width: 125px;
    padding: 5px 35px;
    height: auto;
    width: auto;
}

.signUpButton, button {
    font-weight: 700;
}

/* Quote Section - Third */

.ThirdSection {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quoteBox {
    display: flex;
    font-size: 36px;
    font-style: italic;
    align-items: auto;
}

/* Fourth Section - Call To Action */
.FourthSection {
    background-color: #fff;
    padding: 30px;

}

.CallToAction {
    padding: 40px;
    background: #3882F6;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #F9FAF8;
    
}

.leftAction {
    display: flex;
    flex-direction: column;
    align-items: last baseline;
}

.rightAction {
    border: 2px solid #F9FAF8;
    display: flex;
    align-self: center;
}

.actionHeader {
    font-size: 36px;
}

footer {
    background-color: #1F2937;
    text-align: center;
    color: #ffffff;
    padding: 2em;
}